


/*------------------------------ for header section ----------------------------------------------*/

header{
	position:fixed;
}
 .names h1{    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 62px;
    letter-spacing: -3px;
    text-shadow: -5px 6px 2px #152cc7;
    color: white
}

header
     {background-color: grey;}

.hero-unit{   
    margin-top:10px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: black;
    background-image:url("../img/header.jpg");
    background-color: blue;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: solid white;
    height: 270px;}
/*=---------------------------------style for book page----------------------------------------------*/
 .names_m h1{        margin: 118px 523px;
    padding: 5px 10px 5px 10px;
    font-size: 62px;
    letter-spacing: -3px;
    text-shadow: -5px 6px 2px #152cc7;
    color: white
}


/* --------------------------- for name  of the main page ------------------------------------------*/
.grid_7.names {
    line-height: 26px;
    margin: 79px 355px
}




.names h4 {
    margin: 0px 0px 10px 91px;
    font-size: 33px;
    color: yellow;
    text-shadow: 3px 4px 4px black;
}

/*------------------------- for navigation section ------------------------------------------------------ */
nav{
	background-color: grey;
	border:1px white;
	border-radius: 5px;
	width: 1286px;
	margin-top: -73px;
}
ul.nav {
    margin: 5px 5px;
    padding: 6px 0px;
}


nav ul li{  
    display:inline;
    font color: white;
    border-radius: 6px;
}

nav ul li a
{   text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 42px;

   
}
nav a:hover
    {background-color: #000000 ;
    color: #ffffff ;}
.search{
    margin:30px 5px 30px 664px}
/* ------------------------------- main content section style -----------------------------------------*/

.content
{   margin-left: 0px;
    width:700px;
    height:280px;}



.main{
    margin: 329px 0px 0px 0px;
	}

.aside{
    background-color: lightblue;
    border-radius: 8px;
    margin-right: 8px;
    height:351px;}

aside li a{ 
    text-decoration: none;
    
  }

aside ul{
    list-style: none;
    margin-top:12px;
    line-height: 29px;
    }

aside li
 {margin-left:21px;}



aside h5{
    margin-bottom: 10px;
    margin: 10px 5px 1 }

li#more {
    margin: 10px 2px 2px 88px;
}

#electronics
    {
    font-size: 0;
    vertical-align: middle;
    height: 350px;
    width: 730px;
    border-radius: 8px;
    }

/* ---------------------------- footer section -----------------------------------------------*/



.other {   
    background-color: white;
    border: 1px solid green;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px; 
    margin-top: 7px;
    border-radius: 5px;
    width:200px;
    height: 210px; }

.myfav{   
    background-image:url("../img/qoute_back.jpg");
    border: 1px solid green;
    padding: 5px;
    margin: 0px 17px; 
    border-radius: 8px;
    width:600px; 
    height: 200px;
    margin-top: 7px; }

.contact{   
    background-color: white;
    border: 1px solid green;
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 8px; 
    height: 200px; 
    margin-top: 7px;}
    
.contact h5{
    margin-bottom: 0px;
    }
#qoute {
    font-size: 30px;
    text-align: center;
    line-height: 57px;
    border: 1px solid #032c69;
    border-radius: 5px;
    margin-top: 2px;
}


.myfav h5 {
    margin: 5px 10px 10px 187px;
}

.contact h5 {
    margin: 0px 36px;
}

.other h5
{    margin: 10px 22px;}


button {
    margin: 40px 65px;}

 /*------------------------- formating of all image content ---------------------------------*/   
#home{
    width:20px;
    height:20px;}
 
#search_image{
    width:25px;
    height: 25px;
    padding: 0px 0px;}

#book{
    width:180px;
    height:250px;}

#fb
{width: 80px;
    height: 71px;
    margin: -10px 34px;
}

#twitter

{width: 80px;
    height: 71px;
    margin: 0px 34px}


#linkdin

{width: 80px;
    height: 71px;
    margin: -13px 34px}







/*------------------------- form section style--------------------------------------- */

.form li
{ list-style:none;   
margin-bottom: 20px;   }


.form label
   { display:block; 
   	cursor:pointer;
   	color:grey;
   	font-family:sans-serif;
   	padding-bottom: 5px
   }

textarea{

	width: 400px;
	height: 200px;
}

.form ul {
    list-style: none;
            margin: 15px 348px;
}


.form
{
	border: 1px solid green;
    margin: 332px 140px;
    width: 993px;
    height: 517px;
}


/* ------------------------------------ code end here ---------------------------------------------*/
/*---------------------------------------Open for future development -------------------------------*/